{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Ajouter un bâtiment</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" class="btn btn-success" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('building_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
