<!-- Page Header -->
<div class="bg-image overflow-hidden push" style="background-image: url('{{ asset ('img/photos/syndic.jpg')}}')">
    <div class="bg-black-op">
        <div class="content content-full text-center">
            <h1 class="h1 font-w700 text-white animated fadeInDown push-50-t push-5">DMS</h1>
            <h2 class="h3 font-w600 text-white-op animated fadeInDown">Bienvenue dans votre espace personnel !</h2>
        </div>
    </div>
</div>
<!-- END Page Header -->