<!-- Page Header -->
<div class="hidden-print bg-image overflow-hidden" style="background-image: url('{{ asset ('img/photos/syndic.jpg')}}')">
    <div class="bg-black-op">
        <div class="content content-narrow">
            <div class="block block-transparent">
                <div class="block-content block-content-full">
                    <h1 class="h1 font-w300 text-white animated fadeInDown push-50-t push-5">Dashboard</h1>
                    <h2 class="h4 font-w300 text-white-op animated fadeInUp">Welcome {{ app.user.username }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="hidden-print alert alert-{{ label }}">
            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}

<!-- END Page Header -->