{% extends 'layout.html.twig' %}

{% block body %}
<div class="content bg-gray-lighter hidden-print">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Éditer la demande d'intervention
            </h1>
        </div>
    </div>
</div>
<div class="block block-bordered">
    <div class="block-content">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="block-content block-content-mini block-content-full border-t">
        <div class="row">
            <div class="col-xs-6">
                <a href="{{ path('intervention_index', {'progress': edit_form.vars.value.progress}) }}" class="wizard-prev btn btn-warning">Retour à la liste</a>
            </div>
            <div class="col-xs-6 text-right">
                <input class="btn btn-success" type="submit" value="Enregistrer" />
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
    </div>
</div>
{% endblock %}