{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Demande d'intervention</h1>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="block-content block-content-mini block-content-full border-t">
        <div class="row">
            <div class="col-xs-6">
                <a href="{{ path('intervention_index') }}" class="wizard-prev btn btn-warning">Retour à la liste</a>
            </div>
            <div class="col-xs-6 text-right">
                <input class="btn btn-success" type="submit" value="Enregistrer" />
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
