{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des interventions</h1>
    {% if progress == 'en-cours' %}
        <h1>en cours</h1>
    {% endif %}
    {% if progress == 'realisees' %}
        <h1>réalisées</h1>
    {% endif %}
    {% if progress == 'a-venir' %}
        <h1>à venir</h1>
    {% endif %}
    {% if progress == 'a-planifier' %}
        <h1>à planifier</h1>
    {% endif %}
    {% include 'intervention/_list.html.twig' %}

{% endblock %}