{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des interventions</h1>
    {% include 'intervention/_list.html.twig' %}
    <a href="{{ path('intervention_new') }}" class="btn btn-danger">Demande d'intervention</a>
{% endblock %}