{% extends 'layout.html.twig' %}

{% block body %}
    <div class="content bg-gray-lighter hidden-print">
        <div class="row items-push">
            <div class="col-sm-7">
                <h1 class="page-heading">
                    Faire une demande d'intervention
                </h1>
            </div>
        </div>
    </div>
    <div class="block block-bordered">
        <div class="block-content">
            {{ form_start(form, {'attr' : { 'class' : 'form-horizontal push-10-t push-10'} }) }}
            <div class="row">
                <div class="col-sm-10  col-sm-push-1">
                    <div class="form-group">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
            <div class="block-content block-content-mini block-content-full border-t">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <input type="submit" class="btn btn-success" value="Ajouter"/>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}