{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Faire une demande</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" class="btn btn-success"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('intervention_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
  <script>
     // alert("I am an alert box!");

    $(document).on('change', '#appbundle_intervention_condominium', function () {
        //alert("I am an alert box!")
        let $field = $(this)
        let $form = $field.closest('form')
        let data = {}
        data[$field.attr('name')] = $field.val()

        $.post($form.attr('action'), data).then(function (data){
           debugger
        })
    })

/*
    // Dynamic field building in intervention form
    $(document).on('change', '#appbundle_intervention_condominium', function () {
        let $field = $(this)
        let $condominiumField = $('#appbundle_intervention_condominium')
        let $form = $field.closest('form')
        // Les données à envoyer en Ajax
        let data = {}
        data[$condominiumField.attr('name')] = $condominiumField.val()
        data[$field.attr('name')] = $field.val()
        // On soumet les données
        $.post($form.attr('action'), data).then(function (data) {
            // On récupère le nouveau <select>
            let $input = $(data).find(target)
            // On remplace notre <select> actuel
            $(target).replaceWith($input)
        })
    })
*/
</script>
{% endblock %}