{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Créer une Copropriétée</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('condominium_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
