<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    </head>
    <body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

        <table align="center" bgcolor="#f0ffff" width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tbody style="background-color: aqua; width: 100%">

                <tr>
                    <td height="60" style="font-size: 60px; line-height: 60px;"> &nbsp;</td>

                    <td>
                        <h2>Confirmation d'envoi de mail</h2>
                    </td>
                </tr>

                <tr>
                    <td height="100" style="font-size: 10px; line-height: 100px;"> &nbsp;</td>

                    <td align="center" style="text-align: center; font-size: 15px; color: #222222">
                        <p>Nous vous informons que votre message à l'intention de DMS est bien parti.
                        </p>

                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>