{% extends 'layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <main id="main-container">
                <!-- Page Content -->
                {% if is_granted('ROLE_ADMIN') %}
                <div class="row text-center">
                    <div class="col-sm-12">
                        <a class="block block-link-hover3 text-center" href="{{ path('condominium_new') }}">
                            <div class="block-content block-content-full">
                                <div class="h1 font-w700"><i class="fa fa-pencil"></i></div>
                                <p>Créer une nouvelle demande d'intervention</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="block-content">
                    <div class="block-content block-content-full">
                        <div class="row text-center">
                            <h2>Interventions du jour</h2>
                        </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Billing Address -->
                                        <div class="block block-bordered">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-primary">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-settings"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title"></h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Remplacer interphone</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-danger">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-fire"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">URGENCE</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Changer cumulus</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-danger">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-fire"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">URGENCE</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Réparer portail électrique</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-danger">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-fire"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">URGENCE</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Fuite d'eau</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-warning">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-flag"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">INTERVENIR RAPIDEMENT</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Serrure cassée</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-primary">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-settings"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title"></h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Changer prise rez-de-chaussée</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-primary">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-settings"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title"></h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Brancher alarme local vélo</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-warning">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-flag"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">INTERVENIR RAPIDEMENT</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Remplacer robinet local poubelles</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-danger">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-fire"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">URGENCE</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Tuyau évacuation sanitaire bouché</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-warning">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-flag"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">INTERVENIR RAPIDEMENT</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Reconfigurer digicode</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-primary">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-settings"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title"></h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Remplacer serrure local femmes de ménage</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block block-themed">
                                                        <div class="block-header bg-primary">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button type="button"><i class="si si-settings"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title"></h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <p>Contrôler les compteurs électriques</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                   </div>
                                </div>
                            </div>


                {% else %}
                <div class="content content-boxed">
                    <!-- Header Tiles -->
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="block block-link-hover3 text-center" href="{{ path('condominium_new') }}">
                                <div class="block-content block-content-full">
                                    <div class="h1 font-w700"><i class="fa fa-pencil"></i></div>
                                </div>
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Ajouter une copropriété</div>
                            </a>
                        </div>

                        <div class="col-sm-6">
                            <a class="block block-link-hover3 text-center" href="{{ path('intervention_index') }}">
                                <div class="block-content block-content-full">
                                    <div class="h1 font-w700"><i class="si si-calendar"></i></div>
                                </div>
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Liste des interventions</div>
                            </a>
                        </div>
                    </div>
                    <!-- END Header Tiles -->

                    </div>
                    <!-- END Customer Info -->

                    <!-- block -->
                    <div class="block">

                        <div class="block-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Billing Address -->
                                    <div class="block block-bordered">

                                        <div class="block-content block-content-full">
                                            <div class="h4 push-5">Résidence Les Jardins de Voltaire</div>
                                            <address>
                                                12, place Grenier<br>
                                                86 350<br>
                                                Saint-Romain-En-Gal<br><br>
                                                <i class="fa fa-phone"></i> 05 56 41 32 02<br>
                                                <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">company@example.com</a>
                                            </address>
                                            <div class="h4 push-5">Résidence du parc Meudon</div>
                                            <address>
                                                178, avenue Baloubet<br>
                                                78 800<br>
                                                Chaville<br><br>
                                                <i class="fa fa-phone"></i> 01 76 41 42 22<br>
                                                <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">company@example.com</a>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- Billing Address -->
                                    <div class="block block-bordered">

                                        <div class="block-content block-content-full">
                                            <div class="h4 push-5">Plomberie</div>
                                            <address>
                                                Résidence des Mimosas<br>
                                                33 340<br>
                                                Lesparre-Médoc<br><br>
                                                <i class="fa fa-phone"></i> 05 56 41 32 02<br>
                                                <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">company@example.com</a>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}