{% extends 'layout.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <main id="main-container">
                <!-- Page Content -->
                {% if is_granted('ROLE_ADMIN') %}
                    {% include('dashboard/_admin.html.twig') %}
                {% else %}
                    {% include('dashboard/_syndic.html.twig') %}
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}