{% extends 'base.html.twig' %}

{% block body %}
    <h1>Syndic creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary center-block" value="Create" />
    {{ form_end(form) }}

    <ul>
            <a href="{{ path('syndic_index') }}" class="btn btn-primary center-block ">Back to the list</a>
    </ul>
{% endblock %}
